<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <title>Car Licence Plate</title>
</head>
<body>
<h1>PLATE</h1>

<form th:action="/search"  method="get">
    <input type="text" name="q" />
    <button type="submit" value="Submit">Search</button>
</form>

<a href="/search?police=1">Police Cars Only</a>
<a href="/search?diplomat=1">Diplomat Cars Only</a>

<table>
    <table class="table table-hover table-dark">
        <thead>
        <tr>
            <th scope="col">Plate</th>
            <th scope="col">brand</th>
            <th scope="col">Model</th>
            <th scope="col">Color</th>
            <th scope="col">Year</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="car : ${cars}">
            <td scope="row" data-th-text="${car.getPlate()}"></td>
            <td><a th:href="@{/search{brand}(brand=*{brand})}"><a th:href="" th:text="*{brand}"></a>Brand</td>
            <td scope="row" data-th-text="${car.getModel()}"></td>
            <td scope="row" data-th-text="${car.getColor()}"></td>
            <td scope="row" data-th-text="${car.getYear()}"></td>
        </tr>
        </tbody>
    </table>
</table>

</body>
</html>